{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}

<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">
                Пользователь с таким адресом в системе не зарегистрирован
            </h4>

        </div>
        <div class="card-body">

            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="text-left">
                    <a class="btn btn-outline-success" href="{% url 'users:pass_reset' %}">Попробовать снова</a>
                    <a class="btn btn-outline-success" href="{% url 'users:register' %}">Зарегистрироваться</a>
                </div>
            </form>

        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
</div>
{% endblock %}