{% extends 'main/base.html' %}
{% load my_tags %}

{% block content %}

<dev>
    <h2 class="my-0 px-3 py-3 pt-md-3 pb-md-4 mr-md-auto font-weight-normal">Рассылки</h2>
</dev>
<br>
<div class="row">
    {% if user.is_authenticated %}
    <div class="col-sm-12 mb-5">
        <a class="btn btn-primary" href="{% url 'main:mailing_create' %}">Добавить рассылку</a>
    </div>
    {% endif %}

</div>


{% for object in object_list %}

<div class="col-sm-4 mb-3 mb-sm-3">
    <div class="card">
        <div class="card-body bg-secondary-subtle">


            <h4 class="card-title">{{ object }}</h4>
            <br>

            <p>{{ object.first_sending_time }}</p>
            <p>{{ object.status }}</p>

            <a class="link-success" href="{% url 'main:mailing_detail' object.pk%}">Подробнее</a>
            <a class="link-warning" href="{% url 'main:mailing_update' object.pk%}">Изменить</a>
            <a class="link-danger" href="#">Удалить</a>

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

